{% extends "blog/base.html" %}

{% block content %}

    <h2>About Project</h2>
    <p> <h2> Մեր առաքելությունը </h2>

        Մենք ներկայացնում ենք տեղական մրգերից պատրաստված չրերի, չիպսերի, շոկոլադապատ չրերի, չրային միջուկով թխվածքաբլիթների, խոտաբույսերով ու չրային հավելումով թեյերի արտադրություն:
        Մեր արտադրանքի ցանկացած պատվերի տուփում թաքնված է փոքրիկ անակնկալ-նվեր՝ Սյունիքի բարբառով գրված բարեմաղթանքով:  </p>

        Արտադրանքը նախատեսվում է Առողջ ապրելակերպ վարել ցանկացող քաղաքացիների՝ հայերի, այլազգիների, մանկապարտեզների, սրճարանների, ռեստորանների, քաղաք Կապան այցելող զբոսաշրջիկների համար:
        Ինչպես նաև նախատեսվում է, որ ուսանողների շրջանում կտարածվի որպես արագ, օգտակար, սննդարար,էներգետիկ  լանչի տեսակ: 
        Մեր տեսականին տարբերվում է էկոլոգիապես մաքուր փաթեթավորմամբ:</p>

{% endblock content %}

