{% extends "blog/base.html" %}
{% block title %} Որոնման արդյունքներ  {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    
    <div class="content-section">
    
        {% if s %}
        <h1> Դուք փնտրել եք՝ {{ s }}</h1>
        <br/>
       <h2>  Որոնման արդյունքներ </h2>
        {% for venue in venues %}
         <h2>  <a  class="article-title" href= "{% url 'post-detail' venue.id %}">  {{ venue }} </a> </h2> <br/> <hr>
  
        {% endfor %}
    {% else %}
        <h1> Դատարկ հարցում</h1>
    {% endif %}
     

    </div>
{% endblock content %}